body {
    font-family: Courier New, Courier, monospace;
    text-align: center;
}

#calculator {
    margin: 0 auto;
    width: 300px;
    padding: 5px;
    text-align: center;
}

#calculator, #display {
    border: black 1px solid;
}

#display {
    min-height: 50px;
    margin-bottom: 5px;
    text-align: right;
    font-size: 50px;
    padding-right: 5px;
}

.display-level-down {
    font-size: 40px;
}

.number {
    width: 60px;
    font-size: 16px;
    height: 3em;
    border: black 1px solid;
}

#num7, #num8, #num9, #multiply {
    display: inline-block;
}

.button-row1, .button-row2, .button-row3, .button-row4 {
    margin-bottom: 5px;
}

#num0 {
    width: 129px;
}
